# Import Libraries

# Usecase
We have a dataset of 50 startup companies. Venture capalist fund company wants to understand the correlation between these features, what are in the given data such as R&D, Administration, Marketing Spend, states and profit. 

The goal is build a model to analyze the data and predict the companies for investment.

In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# Loading Dataset

In [18]:
dataset_path = 'C://Users//irama//Downloads//50_Startups.csv'

In [19]:
dataset = pd.read_csv(dataset_path)

In [20]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

# Shape of the dataset

In [21]:
print("Shape of the dataset is:", dataset.shape)

Shape of the dataset is: (50, 5)

# Prepation of Dataset 
We have categorical dataset so we need to convert it into numeric. We are using one-hot-encoding technique.

In [22]:
x = dataset.iloc[:,:-1].values
y = dataset.iloc[:, -1].values

# ONe-hot-Encoding

In [23]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])], remainder = 'passthrough')
X=np.array(ct.fit_transform(x))

# Spliting the Data

In [26]:
X_train, x_test, Y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state=0)

# Multiple Linear Regression

In [27]:
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression()

# Predict the test results

In [34]:
y_pred = regressor.predict(x_test)
np.set_printoptions(precision=2) # display any numerical value with 2 decimals
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1)) # concatenate two vectors vertically

[[103015.2  103282.38]
 [132582.28 144259.4 ]
 [132447.74 146121.95]
 [ 71976.1   77798.83]
 [178537.48 191050.39]
 [116161.24 105008.31]
 [ 67851.69  81229.06]
 [ 98791.73  97483.56]
 [113969.44 110352.25]
 [167921.07 166187.94]]

In [29]:
y_pred

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230166,  67851.69209676,  98791.73374686,
       113969.43533013, 167921.06569551])